# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env
.venv

# Ignore package manager files
node_modules/

# Ignore Streamlit cache and logs
.streamlit/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db